* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;

}

body {
    background: #0B1924;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

.container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}