* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Arial", Times, serif;
}

body {
    overflow: hidden;
    background-color: #000;
}

.container {
    margin-left: 20px;
}