section {
    width: 100%;
    height: auto;
}


/* Works Area */

.works {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #0B1924;
    padding-bottom: 20px;

}

.works .label {
    display: flex;
    width: 100vw;
    color: #fff;
    background: rgba(15, 31, 44, 0.49);
    height: 40px;
    align-items: center;
    padding-left: 20px;
}

.works .cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 275px);
    justify-content: center;
    align-items: center;
    align-content: space-between;

    margin-top: 15px;
}

.cards .card {
    background: #fff;
    color: black;
    height: 250px;
    text-align: center;
}

/* Footer area */

footer {
    display: flex;
    width: 100%;
    background: rgba(15, 31, 44, 0.49);
    height: 40px;
}
footer .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}