@media screen and ( max-width: 768px ) {
    header {
        position: relative;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: #1f1d26;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 50px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #1f1d26;
        left: 0;
        opacity: 1;
        transition: all 0.2s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: #282531;
        color: white;
        transition: all 0.4s ease-out;
    }
    
    .navbar {
        width: 100%;
    }

    #mobile-menu {
        position: absolute;
        top: 2%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }
    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg)
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }
}

/* apresented area */

.apresented {
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('../images/background.png');
    background-size: cover;
    width: 100%;
    height: 40vh;

    display: flex;

}

.title {
    color: #fff;
    font-family: 'Risque', serif;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 2rem;
}
.sub-title {
    color: #fff;
    font-family: 'Risque', serif;
    font-weight: 300;
    font-size: 1.10rem;
}

.apresented .container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 320px;
}

.buttons {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    width: 100%;
    height: auto;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-left: 10px;
    justify-content: center;
}
.button {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 7px;
}
.button:nth-child(1){
    margin-right: 10px;
}