header {
    width: 100%;
    background: #18161d;
    box-shadow: 0px 5px 4px rgba(167, 152, 152, 0.22);
}

header .container {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 60px;
    width: 90%;
    max-width: 1720px;
    margin-top: 0;

}

#navbar-logo {
    color: white;
    justify-content: start;
    width: 165px;
    font-family: 'Risque', serif;
    letter-spacing: 2px;
    cursor: pointer;
}
#navbar-logo:hover {
    color: #c6c6c6;
    transition: all 0.2s ease-out;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
.nav-links:hover {
    color: #c6c6c6;
    transition: all 0.2s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

/* apresented area */

.apresented {
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('../images/background.png');
    background-size: cover;
    width: 100%;
    height: 40vh;

    display: flex;

}

.title {
    color: #fff;
    font-family: 'Risque', serif;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 2rem;
}
.sub-title {
    color: #fff;
    font-family: 'Risque', serif;
    font-weight: 300;
    font-size: 1.10rem;
}

.apresented .container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 320px;
}

.buttons {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    width: 100%;
    height: auto;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-left: 10px;
    justify-content: center;
}
.button {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 7px;
}
.button:nth-child(1){
    margin-right: 10px;
}

/* main area */

main {
    width: 100vw;
    height: auto;
}

/* Works Area */

#works {
    width: 100%;
    margin: 0;
}
#works .container {
    display: flex;
    align-items: center;
    justify-content: center
}

.cards {
    margin-top: 20px
}
.cards .card {
    background: #fff;
    color: black;
    width: 300px; /* half-width */
    height: 250px;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
}

.aboult {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer area */
footer {
    width: 100vw;
    background: rgba(15, 31, 44, 0.49);
}
footer .container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin-top: 20px;
    padding: 0 20px;
}

/* area respossiva */

@media screen and ( max-width: 700px ) {
    header {
        position: relative;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: #1f1d26;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 50px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #1f1d26;
        left: 0;
        opacity: 1;
        transition: all 0.2s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: #282531;
        color: white;
        transition: all 0.4s ease-out;
    }
    
    .navbar {
        width: 100%;
    }

    #mobile-menu {
        position: absolute;
        top: 7px;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }
    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg)
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }

    footer .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding-top: 0.7rem;
    }
    footer h5 {
        margin-top: 2px;
    }
}